.popularcars {
  font-size: 34.74px;
  font-weight: 400;
  line-height: 52.11px;
  text-align: center;
  margin-top: 41px;
  margin-left: 64px;
  margin-right: 64px;
 
}

.popularcars p {
  height: 52px;
  margin-bottom: 40px;
}

.cars {
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.mitsubishi {
  display: flex;
  height: 290px;
}

.mitsubishi img {
  width: 425px;
  height: 290px;
}

.mits-text {
  height: 290px;
  border: 1px solid #d9d9d9;
}

.mits-text .mob-p1 {
  display: none;
}

.jac-text .mob-p1 {
  display: none;
}

.mits-text h5 {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
  height: 42px;
  margin-left: 40px;
  margin-top: 25px;
}

.mits-text p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18.5px;
  text-align: left;
  height: 37px;
  opacity: 0.8;
  margin-left: 42px;
}

.mits-text img {
  width: 300px;
  height: 17px;
  margin-left: 42px;
}

.features-d1,
.features-d2 {
  display: block;
}

.features-m1,
.features-m2 {
  display: none;
}

.mits-text h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  height: 24px;
  margin-left: 40px;
  margin-top: 35px;
}

.mits-button button {
  height: 37px;
  padding: 0px 20px 0px 20px;
  gap: 8px;
  border-radius: 4px;
  background-color: #e21e26;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
  margin-top: 31px;
  margin-left: 64px;
  cursor: pointer;
}

.mits-button {
  display: flex;
}

.jac {
  margin-left: 22px;
  display: flex;
  height: 290px;
}
.jac img {
  width: 484px;
  height: 290px;
}

.jac-text {
  height: 290px;
  border: 1px 0px 0px 0px;
  border: 1px solid #d9d9d9;
}

.jac-text h5 {
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  text-align: left;
  height: 42px;
  margin-left: 40px;
  margin-top: 25px;
}

.jac-text p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18.5px;
  text-align: left;
  height: 37px;
  opacity: 0.8;
  margin-left: 40px;
}

.jac-text img {
  width: 300px;
  height: 17px;
  margin-left: 38px;
}

.jac-text h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  height: 24px;
  margin-left: 40px;
  margin-top: 35px;
}

.jac-button {
  display: flex;
}

@media (max-width: 768px) {
  .popularcars {
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .popularcars p {
    width: 145px;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
  }

  .mitsubishi {
    flex-direction: column;
    height: 100%;
  }

  .mitsubishi img {
    width: 100%;
    height: 127px;
  }

  .mits-text {
    height: 206px;
  }

  .mits-text h5 {
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .b3 {
    background-color: #e21e26;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
  }

  .mits-text .p1,
  .p2 {
    display: none;
  }

  .mits-text .mob-p1 {
    display: block;
  }

  .jac-text .mob-p1 {
    display: block;
  }

  .mits-text p {
    width: 188px;
    height: 49px;
    opacity: 0.75;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .mits-text img {
    height: 17px;
    margin-left: 10px;
  }

  .mits-text h6 {
    width: 124px;
    height: 24px;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .mits-button {
    flex-direction: column;
  }

  .features-d1,
  .features-d2 {
    display: none;
  }

  .features-m1,
  .features-m2 {
    display: block;
  }

  .mits-button button {
    width: 128px;
    height: 38px;
    top: 870px;
    left: 26px;
    gap: 8px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
  }

  .jac {
    flex-direction: column;
    margin-left: 8px;
    height: 100%;
  }

  .jac img {
    width: 100%;
    height: 127px;
  }

  .jac-text {
    width: 100%;
    height: 206px;
  }

  .jac-text h5 {
    width: 52px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .jac-text p {
    width: 188px;
    height: 49px;
    opacity: 0.75;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .jac-text img {
    width: 100%;
    height: 17px;
    margin-left: -28px;
  }

  .jac-text h6 {
    width: 124px;
    height: 24px;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .jac-button {
    flex-direction: column;
  }

  .jac-button button {
    width: 128px;
    height: 38px;
    top: 870px;
    left: 26px;
    gap: 8px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
  }
}
