.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.summer_promotion_container {
  display: flex;
  margin: 8px 64px 0 64px;
  position: relative;
}

.summer_promotion_img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.text_container_summer {
  position: absolute;
  top: 72%;
  left: 51%;
  transform: translate(-50%, -50%);
  text-align: left;
  display: flex;
  color: #fff;
}

.summer_content_para {
  font-size: 18.37px;
  font-weight: 400;
  line-height: 26.91px;
  color: #ffffff;
  height: 58.63px;
  margin-bottom: 49px;
}

.green_para {
  background-color: #009046;
  font-weight: 600;
  height: 31.49px;
  border-radius: 32px;
  color: #ffffff;
  border: none;
  font-family: Poppins;
  font-size: 15.22px;
  line-height: 19.25px;
  padding: 6px;
  cursor: pointer;
}

.indicators {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.indicator {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.3s;
  cursor: pointer;
}

.indicator.active {
  opacity: 1;
}

@media (max-width: 768px) {

  .summer_content_para {
    height: 31.27px;
    font-size: 9.8px;
    font-weight: 400;
    line-height: 14.35px;
    text-align: left;
    margin-bottom: 10px;
  }

  .summer_promotion_img {
    width: 100%;
    object-fit: cover;
    height: 226px;
  }

  .green_para {
    font-size: 8.12px;
    font-weight: 600;
    line-height: 10.27px;
    text-align: left;
    width: 81.6px;
    height: 16.79px;
    border-radius: 0px;
    text-align: center;
  }

  .summer_promotion_container {
    margin: 0;
  }

  .indicators {
    bottom: 20px;
  }
  
  .indicator {
    width: 6px;
    height: 6px;

  }

}
